@font-face {
  font-family: "EQsymbol";
  src: url("https://cdn.jsdelivr.net/gh/Ayden51/StudyCare-Website/fonts/EQSymbol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.article-main .article-content .rte {
  font-family: Arial, "Cambria Math", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.article-main .article-content .rte main p {
  color: inherit;
}
.article-main .article-content .rte h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  color: #2980b9;
}
.article-main .article-content .rte h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #ff0000;
}
.article-main .article-content .rte h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  color: #000000;
}
.article-main .article-content .rte :is(ol, ul) {
  margin-left: clamp(15px, 4vw, 30px);
}
.article-main .article-content .rte :is(ol, ul) ul {
  list-style: none;
  margin-top: 4px;
  font-weight: normal;
}
.article-main .article-content .rte ul > li > ul {
  list-style: disc;
  list-style-position: inside;
}
.article-main .article-content .rte h2 + ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-top: 0;
  font-weight: bold;
}
.article-main .article-content .rte ol ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 0;
  font-weight: bold;
}
.article-main .article-content .rte p + ol {
  list-style-type: lower-latin;
  font-weight: normal;
  margin-left: clamp(30px, 5.5vw, 40px);
}
.article-main .article-content .rte h3 + ol,
.article-main .article-content .rte .h3--ol {
  list-style-type: none;
  font-weight: normal;
  margin-left: clamp(30px, 5.5vw, 40px);
}
.article-main .article-content .rte .eg-li {
  margin-left: 15px;
}
.article-main .article-content .rte .quiz {
  margin-bottom: 8px;
  margin-top: 16px;
  color: #000000;
}
.article-main .article-content .rte .author {
  text-align: right;
  font-size: 14px;
  color: #4e5f70;
}
.article-main .article-content .rte .poem {
  display: grid;
  justify-content: center;
  margin: 0;
}
.article-main .article-content .rte .text-red {
  color: #f00;
}
.article-main .article-content .rte .text-blue {
  color: #2980b9;
}
.article-main .article-content .rte .text-gray {
  color: #4e5f70;
}
.article-main .article-content .rte .fz-22 {
  font-size: 22px;
}
.article-main .article-content .rte .fz-18 {
  font-size: 18px;
}
.article-main .article-content .rte .fz-14 {
  font-size: 14px;
}
.article-main .article-content .rte .MathJax {
  font-size: 112.4% !important;
  margin: 0;
}
.article-main .article-content .rte span mjx-container[jax="CHTML"][display="true"] {
  display: inline-block;
}
