.article-main .article-content .rte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;
}
.article-main .article-content .rte :is(h1, h2, h3, h4, h5, h6) {
  color: #121212;
  margin-top: 0;
  line-height: 0.8;
}
article.article-main .article-content .rte p {
  margin-bottom: 1em;
  color: #252525;
}
.article-main .article-content .rte .img-desc {
  font-size: 14px;
  line-height: 1.7;
}
article.article-main .article-content .rte a {
  color: #2980b9;
}
.article-main .article-content .rte .text-red {
  color: #f00;
}
.article-main .article-content .rte .text-blue {
  color: #2980b9;
}
.article-main .article-content .rte .text-gray {
  color: #4e5f70;
}
.article-main .article-content .rte .fz-22 {
  font-size: 22px;
}
.article-main .article-content .rte .fz-18 {
  font-size: 18px;
}
.article-main .article-content .rte .fz-16 {
  font-size: 16px;
}
.article-main .article-content .rte .fz-14 {
  font-size: 14px;
}
.article-main .article-content .rte .toc {
  display: inline-block;
  border: solid 1px #333;
  background-color: #f3f6f3;
  padding: 1.2em;
  margin-bottom: 1em;
}
.article-main .article-content .rte .toc > div {
  font-weight: bold;
  margin-bottom: 0.6em;
}
.article-main .article-content .rte .toc > ol {
  padding-left: 40px;
}
.article-main .article-content .rte .toc > ol a {
  color: #252525;
}
.article-main .article-content .rte div.download-btn a {
  display: inline-block;
  padding: 16px 27px;
  margin: 10px auto 1em;
  border-radius: 100rem;
  color: white;
  background-color: #1373b9;
  font-size: 18px;
  line-height: 1;
  transition: all 150ms linear;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
.article-main .article-content .rte div.download-btn a:hover,
.article-main .article-content .rte div.download-btn a:focus {
  background-color: #16537e;
}
.article-main .article-content .rte .separator {
  font-family: Wingdings;
  text-align: center;
}
.article-main .article-content .rte .news-table {
  max-width: 100%;
  width: max-content;
  min-width: 100vh;
  margin: 0 auto;
}
.article-main .article-content .rte .news-table th,
.article-main .article-content .rte .news-table td {
  padding: 10px;
  border-color: #252525;
}
.article-main .article-content .rte figure.overflow-table {
  overflow-x: auto;
  overflow-y: hidden;
}
.pdf-viewer {
  display: block;
  height: 120vw;
}
@media screen and (min-width: 842px) {
  .pdf-viewer {
    height: 120vh;
  }
}
