.article-main .article-content .rte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.article-main .article-content .rte :is(h1, h2, h3, h4, h5, h6) {
  color: #000;
  margin-top: 0;
  line-height: 0.8;
}
article.article-main .article-content .rte p {
  margin-bottom: 1em;
  color: #000;
}
.article-main .article-content .rte .img-desc {
  font-size: 14px;
  line-height: 1.7;
}
article.article-main .article-content .rte a {
  color: #2980b9;
}
.article-main .article-content .rte .text-red {
  color: #f00;
}
.article-main .article-content .rte .text-blue {
  color: #2980b9;
}
.article-main .article-content .rte .text-gray {
  color: #4e5f70;
}
.article-main .article-content .rte .fz-22 {
  font-size: 22px;
}
.article-main .article-content .rte .fz-18 {
  font-size: 18px;
}
.article-main .article-content .rte .fz-16 {
  font-size: 16px;
}
.article-main .article-content .rte .fz-14 {
  font-size: 14px;
}
.article-main .article-content .rte .toc {
  display: inline-block;
  border: solid 1px #333;
  background-color: #f3f6f3;
  padding: 1.2em;
  margin-bottom: 1em;
}
.article-main .article-content .rte .toc > div {
  font-weight: bold;
  margin-bottom: 0.6em;
}
.article-main .article-content .rte .toc > ol {
  padding-left: 40px;
}
.article-main .article-content .rte .toc > ol a {
  color: #000;
}
