<p>&nbsp;</p>
<div style="font-size: 16px">
  <p style="text-align: center">
    <b>⭐⭐⭐⭐⭐</b>
  </p>
  <p style="text-align: center; color: #000000">
    <b>StudyCare Education</b>
  </p>
  <p style="text-align: center; color: #000000">
    <b>The more we care -&nbsp;The more you succeed</b>
  </p>
  <p style="text-align: center">
    <b>⭐⭐⭐⭐⭐</b>
  </p>
  <ul style="list-style: none; line-height: 1.7; color: #898989">
    <li>
      🔹 Dạy kèm Toán - Lý - Hóa - Sinh - Văn - Anh theo chương trình phổ thông
      Quốc Gia và chương trình học các cấp của các trường Quốc Tế.
    </li>
    <li>
      🔹 Luyện thi chuyển cấp lớp 9 lên lớp 10, luyện thi tốt nghiệp THPT Quốc
      Gia, Luyện thi Đại Học.
    </li>
    <li>
      🔹 Giảng dạy và luyện thi IELTS - TOEIC - TOEFL - PTE - SAT - ACT - GMAT -
      GRE và các chứng chỉ Quốc Tế.
    </li>
    <li>
      🔹 Hỗ trợ các loại hồ sơ, thủ tục cấp VISA Du học - Du lịch - Định cư các
      Quốc gia Châu Âu, Châu Úc, Châu Mỹ.
    </li>
    <li>
      🔹 Các dịch vụ dịch thuật chuyên nghiệp: dịch thuật chuyên ngành; dịch
      thuật công chứng; dịch thuật các loại sách, giáo trình.
    </li>
    <li>
      🔹 Hoạt động hỗ trợ học thuật chuyên môn cao: cung cấp số liệu, dữ liệu
      khoa học; xử lý các mô hình Toán bằng phần mềm chuyên dụng; cung cấp các
      tài liệu điện tử có bản quyền: sách chuyên ngành, các bài báo khoa học.
    </li>
  </ul>
  <p style="text-align: center">
    <b>⭐⭐⭐⭐⭐</b>
  </p>
  <p style="text-align: center; color: #000000">
    <b>Công ty CP Đầu tư Phát triển Giáo dục StudyCare (MST&nbsp;0313301968)</b>
  </p>
  <p style="text-align: center">
    <b>⭐⭐⭐⭐⭐</b>
  </p>
  <p style="color: #c0392b">
    <b>📌&nbsp;72/53 Nguyễn Văn Thương, Phường 25, Quận Bình Thạnh, TP.HCM</b>
  </p>
  <p style="color: #000000">
    <b>☎&nbsp;Điện&nbsp;thoại: (028).353.66566</b>
  </p>
  <p style="color: #000000">
    <b>📱&nbsp;Zalo: 098.353.1175</b>
  </p>
  <p style="color: #000000">
    <b
      >📋&nbsp;Brochure:
      <a
        target="_blank"
        href="https://drive.google.com/file/d/1nUbv7rFdBNRDXDRd5nw2IHRNE-7QSLDn/view?usp=sharing"
        ><span style="color: #3498db"
          ><u><i>https://goo.gl/brochure</i></u></span
        ></a
      ></b
    >
  </p>
  <p style="color: #000000">
    <b
      >📧&nbsp;Email:
      <a href="mailto:hotro@studycare.edu.vn">
        <span style="color: #3498db"
          ><u><i>hotro@studycare.edu.vn</i></u></span
        >
      </a></b
    >
  </p>
  <p style="color: #000000">
    <b
      >🏡&nbsp;Location:
      <a target="_blank" href="https://goo.gl/maps/tt2s22GSoDMsUKxG7">
        <span style="color: #3498db"
          ><u><i>https://goo.gl/maps/studycare</i></u></span
        >
      </a></b
    >
  </p>
  <p style="color: #000000">
    <b
      >🌐&nbsp;Visit us online:
      <a target="_blank" href="https://qrco.de/studycare">
        <span style="color: #3498db"
          ><u><i>https://qrco.de/studycare</i></u></span
        >
      </a></b
    >
  </p>
</div>
