@font-face {
  font-family: "EQsymbol";
  src: url("https://cdn.jsdelivr.net/gh/Ayden51/StudyCare-Website/fonts/EQSymbol.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
