@font-face {
  font-family: "font-name";
  src: url("https://cdn.jsdelivr.net/gh/Ayden51/StudyCare-Website/fonts/font-name.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
